---
import { Icon } from "astro-icon/components";

export interface Props {
  iconLeft?: boolean;
  iconName?: string | undefined;
  iconSize?: number;
  text: string;
}

const { iconLeft, iconName, iconSize, text } = Astro.props;
---

{
  iconName ? (
    iconLeft ? (
      <span>
        <Icon name={iconName} size={iconSize} /> {text}
      </span>
    ) : (
      <span>
        {text}
        <Icon name={iconName} size={iconSize} />
      </span>
    )
  ) : (
    <span>{text}</span>
  )
}

<style>
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    background-color: var(--neutral-700);
    color: var(--neutral);
    padding: 0.2rem 0.8rem;
    border-radius: 8px;
    font-weight: 500;
    font-size: 1.4rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px;
  }

  @media (min-width: 1000px) {
    span {
      font-size: 1.6rem;
    }
  }
</style>
