---
import { ViewTransitions } from "astro:transitions";

import GlobalStyles from "@components/GlobalStyles.astro";

const currentLocale = Astro.currentLocale ?? "en";

interface Props {
  canonicalUrl?: URL;
  pageTitle: string;
  pageDescription: string;
}

const { canonicalUrl, pageDescription, pageTitle } = Astro.props;
---

<html lang={currentLocale} data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={pageDescription} />
    {canonicalUrl && <link rel="canonical" href={canonicalUrl} />}
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{pageTitle}</title>
    <script
      is:inline
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-3ZHMY35FBB"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-3ZHMY35FBB");
    </script>
    <ViewTransitions />
  </head>
  <body>
    <slot />
    <GlobalStyles />
  </body>
</html>
